cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
chess==1.11.2
cloudpickle==1.6.0
cssselect2==0.8.0
defusedxml==0.7.1
future==1.0.0
gym==0.17.3
gym-notices==0.0.8
numpy==2.2.5
opencv-python==4.11.0.86
pillow==11.2.1
pycparser==2.22
pyglet==1.5.0
python-chess==0.31.4
scipy==1.15.2
setuptools==80.0.0
tinycss2==1.4.0
webencodings==0.5.1
